<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm deletion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Delete this article ? This action is irreversible.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary silver-btn me-3" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary silver-btn">Confirm</button>
        </div>
      </div>
    </div>
  </div>