{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <main>
        <div id="article-container">
            
        </div>
    </main>
{% endblock %}
