{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <main>
        <div id="article-container">
            {% include "_partials/article.html.twig" %}
        </div>
    </main>
{% endblock %}
