{% extends 'base.html.twig' %}

{% block title %}New tag
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
	<section>
		<a href="{{ path('app_tag_index') }}" id="admin_menu_link">
			<i class="bi bi-caret-left-fill"></i>
			Back to tag list</a>
		<h1>New tag</h1>

		{{ include('tag/_form.html.twig') }}
	</section>
{% endblock %}
